<div class="form-group">
	<div>
	  <%= f.label :name, class:'col-sm-2 control-label' %>
	  <div class="col-sm-10">
	  	<%= f.text_field :name, class:'form-control' %>
	  </div>
	</div>
</div>
<div class="form-group">
	<div>
	  <%= f.label :redirect_uri, class:'col-sm-2 control-label' %>
	  <div class="col-sm-10">
	  	<%= f.url_field :redirect_uri, class:'form-control' %>
	  </div>
	</div>
</div>
